    
    </main>

    
    <footer>

        <div class="boxes">

            <div class="box">

                <div class="logo">
                    <a href="/"><img src="./Face20201209141443.jpg" alt="logo"></a>
                </div>
        
                <div class="contact-info">
                    <a href="mailto: info@rpiindia.org"><i class="fa fa-envelope"></i>info@rpiindia.org</a>
                    <a href="tel:+91-9587591646"><i class="fa fa-phone"></i>+91-9587591646</a>
                    <a href="http://maps.google.com/?q=delhi-ncr"><i class="fa fa-map-marker"></i>Delhi-NCR, India</a>
                </div>

            </div>
    
    
            <div class="footer-content">
                <h4>About RPI</h4>
                <p>Rajasthan Paramedical Institute, popularly known as RPI, Delhi is in the field of paramedical Science sector is equipped with all advanced studies courses and is established in Delhi with an objective of providing quality education with affordable fees in the field of Paramedical for those students who have passed 10th, 12th, Graduate and Post Graduate levels.</p>
            </div>
    
            <div class="footer-nav">
                <h4>Quick Menu</h4>
                <div class="nav">
                    <div class="toggle-button footer-nav-toggle">
                        <i class="fa fa-bars fa-times-circle"></i>
                    </div>                
                    <nav class="active">
                        <ul class="nav-links">
                            <li><a href="/">Home</a></li>
                            <p class="line"></p>
                            <li><a href="/about-us">About Us</a></li>
                            <p class="line"></p>
                            <li><a href="/courses">Courses</a></li>
                            <p class="line"></p>
                            <li><a href="/addmission-process">Addmission Procedure</a></li>
                            <p class="line"></p>
                            <li><a href="/online-addmission">Online Addmission</a></li>
                            <p class="line"></p>
                            <li><a href="/our-faculty">Our Faculty</a></li>
                            <p class="line"></p>
                            <li><a href="/contact-us">Contact Us</a></li>
                            <p class="line last-line"></p>
                        </ul>
                    </nav>
                </div>
            </div>
    

        </div>

        <div class="copyright">
    
            <p>Copyright © 2020 – RPI. Designed & Developed by <a target="_blank" href="https://www.instagram.com/punit.js/">Punit.Js</a></p>
        </div>

    </footer>


    <script src="./home.js"></script>
</body>
</html>