<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Rajasthan Paramedical Institute</title>
</head>
<body>
    <header>
       <div class="top-info">
           <div class="cont">
              <p><a href="tel:+91-9587591646"><i class="fa fa-phone"></i>  Call Us: +91-9587591646</a></p>
              <p><a href="mailto: info@rpiindia.org"><i class="fa fa-envelope"></i>  Mail Us: info@rpiindia.org</a></p>
           </div>
           <div class="social-icons">
              <img  src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
              <img  src="https://img.icons8.com/color/100/000000/twitter-circled.png"/>
              <img  src="https://img.icons8.com/color/48/000000/youtube-studio.png"/>
           </div>
       </div>
       
       <div class="main-header">
            <div class="logo">
               <a href="/"><img src="./logo.jpg" alt="logo"></a> 
            </div>
            <div class="header-content">
                <p>Authorized Training Centre Recognition/ Affiliation NO. NFSE/PA/RAJ-0243</p>
                <h1>RAJASTHAN PARAMEDICAL INSTITUTE</h1>
                <p class="highlight-para">For Vocational Courses (ALLIED HEALTH EDUCATION) Are Run Under <span class="highlight-red">“NFSE” (INDIA)</span>,
                  <span class="highlight-blue">Affiliated With Ministry Of Human Resource Development (MHRD)</span> </p>
            </div>
            <div class="header-btns">
                <a href="/online-registeration" class="apply-now-btn"><i class="fa fa-mouse-pointer"></i> Apply Now</a>
                <div class="addspace"></div>
                <a href="/contact-us" class="contact-us-btn"><i class="fa fa-phone"></i> Contact Us</a>
            </div>
       </div>

    </header>


    <main>

        <div class="nav">
            <div class="toggle-button">
                <i class="fa fa-bars fa-times-circle"></i>
            </div>
    
            <nav class="active">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <p class="line"></p>
                    <li><a href="/about-us">About Us</a></li>
                    <p class="line"></p>
                    <li><a href="/courses">Courses</a></li>
                    <p class="line"></p>
                    <li><a href="/addmission-process">Addmisssion Procedure</a></li>
                    <p class="line"></p>
                    <li><a href="/online-addmission">Online Addmission</a></li>
                    <p class="line"></p>
                    <li><a href="/our-faculty">Our Faculty</a></li>
                    <p class="line"></p>
                    <li><a href="/contact-us">Contact Us</a></li>
                    <p class="line last-line"></p>
                </ul>
            </nav>
        </div>