
      <%- include('partials/header.ejs'); %>
    

        <div id="about-main" class="welcome">
            <div class="events about-rpi">
                <h3>About RPI - Rajasthan Paramedical Institute</h3>
                <p class="short-line"></p>
            </div>
            <p>Rajasthan Paramedical Institute (RPI) has been very ambitiously established to supply well-educated and highly-skilled paramedical/allied health professionals and staff in almost all disciplines of medical and healthcare sector of India and abroad. Moreover, these essential paramedical professionals and staff are prepared by us for extending perfect and dedicated services at primary, secondary, and tertiary levels of healthcare. Constantly growing healthcare sector of India with a compound annual growth rate [CAGR] of about 15%, imperatively requires a huge number of paramedical and ancillary workforce every year in all streams of medical and at all hierarchic levels, in the government and private sectors. Again, the private segment of the India’s healthcare sector is fast expanding and growing to contribute around 80% of the total healthcare services to be delivered in the country by the year 2015.<br><br>

                We at RPI are committed to impart training of peak standards for the students who would enroll in our courses. All certificate, diploma, and degree courses offered are UGC recognized. With efficient and dedicated support of well-learned, richly-experienced, and well-informed teaching faculties and trainers, RPI conducts a variety of paramedical programs and courses in a wide range of paramedical areas. These courses fall under the broad categories of certificate courses, diploma courses, bachelor’s and master’s degree programs, and e-learning courses. These courses are well-designed to meet varying requirements and objectives of different students and medical practitioners. These courses are bolstered by rigorous and in-depth disciplinary trainings, to make our courses maximally prolific and employment-oriented.
            </p>

            <div class="events vision">
                <h3>Our Vision & Mission</h3>
                <p class="short-line"></p>
            </div>

            <div class="about-main-box">
                
                    <div id="orange-about-box">
                        <h5>Vision</h5>
                        <p class="short-line"></p>
                    <p>Our main and ultimate vision is to contribute remarkably and pernnially to the top-notch and blooming healthcare sector of India through offering impeccable and world class paramedical education and trainings at all levels to present and future students and medical practitioners.</p>
                    </div>
                
                    <div id="blue-about-box">
                        <h5>Mission</h5>
                        <p class="short-line"></p>
                        <p>The mission of Rajasthan Paramedical Institute is to offer nationally competitive and internationally recognized opportunities for learning, discovery and engagement to a diverse population of students in a real world setting. RPI offers a full range of degree, diploma and certificate paramedical programs at professional levels. As a knowledge resource to the students, the institute builds partnerships with other educational institutions, community organizations, government agencies and the private sector to serve the region and impact the world.</p>
                    </div>
                
            </div>
        </div>


        <%- include('partials/footer.ejs'); %>
    