<%- include('partials/header.ejs'); %>


        <div class="online-addmission-page">
            <div class="events">
                <h3>Online Admission</h3>
                <p class="short-line"></p>
            </div>
            <div class="add-pro">
                <p>Instructions for filling the online application form</p>
                <ul>
                    <li>Kindly read all the fields of the online form before filling it.</li>
                    <li>All fields marked with Asterix are mandatory.</li>
                    <li>Please fill all information correctly.</li>
                    <li>Please keep the necessary documents ready before filling the application form.</li>
                    <li>The documents should be clear and in prescribed size.</li>
                    <li>Please upload a recent passport size photograph in JPG format of size 2 MB.</li>
                    <li>Candidates are required to upload all the supporting documents in respect of each document. The documents should be uploaded in PDF format of 2MB size.</li>
                    <li>Contact details such as address and mobile number etc are required in this module.</li>
                    <li>Once the application form is filled completely kindly press the preview button before submit to display your filled information. The candidates are advised to check the details to verify that all information is correctly filled.</li>
                    <li>Once the application form is submitted no changed to the filled information form will be allowed</li>
                    <li>Please click below on “Online Admission Form” to proceed.</li>
                </ul>
            </div>
            
            <div id="adm-link">

               <a href="/online-registeration">Online Admission Form <i class="fa fa-mouse-pointer"></i></a>
                
            </div>


        </div>
        <%- include('partials/footer.ejs'); %>
    