<%- include('partials/header.ejs'); %>
 

        <div class="add-pro">
            <div class="events add-pro-heading">
                <h3>Addmission Procedure</h3>
                <p class="short-line"></p>
            </div>
            <div class="add-pro-list">
                <p> -> Following original certificates are to be produced and submitted at the time of interview :</p>
                <ul>
                    <li>Matriculation Certificate</li>
                    <li>Marksheet of Qualifying Exam</li>
                    <li>Migration Certificate</li>
                    <li>Aadhar Card</li>
                </ul>
            </div>
            <p> -> Fee & Security Desposit</p>
            <p> -> Fees is to be made at the time of admission/commencement of subsequent academic years.</p>
            <p> -> Fees once deposited is not refundable.</p>
            <p> -> All disputes are subjected to New Delhi Jurisdiction only.</p>
            <div class="add-pro-list">
                <p> -> General Information for application form:</p>
                <ul>
                    <li>The candidate must secure minimum eligibility criteria for the program He/She is applying to in order to apply for the same. Student has to fill the application form before the deadline.</li>
                    <li>Application form can either be collected in person from Institute’s reception or by applying online.</li>
                    <li>On receiving the form, student has to fill in all the details correctly and send the application form along with registration fee of Rs. 5000/-(Five Thousand) INR Demand Draft. (Non refundable).</li>
                </ul>
            </div>
            <div class="add-pro-list">
                <p> -> Points to remember while filling the admission form:</p>
                <ul>
                    <li>Use Blue / Black color ball pen.</li>
                    <li>Fill in all blanks in block letters.</li>
                    <li>Please fill the form neatly.</li>
                </ul>
            </div>
        </div>

        <%- include('partials/footer.ejs'); %>
   