<%- include('partials/header.ejs'); %>
  

    

        <table cellspacing="0">
            <thead>
                <tr>
                    <th id="sr-no">Sr. No.</th>
                    <th id="code">Code</th>
                    <th id="c-name">Course Name</th>
                    <th id="dura">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>AHE001</td>
                    <td>diploma in medical laboratory technology</td>
                    <td>Two Years</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>AHE002</td>
                    <td>Medical laboratory technician</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>AHE003</td>
                    <td>diploma in x-ray technology</td>
                    <td>Two Year</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>AHE004</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>AHE005</td>
                    <td>diploma in x-ray technology</td>
                    <td>Two Year</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>AHE006</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>AHE007</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>AHE008</td>
                    <td>diploma in x-ray technology</td>
                    <td>Six Months</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>AHE009</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>AHE010</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>AHE011</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>AHE012</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>AHE013</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>AHE0014</td>
                    <td>diploma in x-ray technology</td>
                    <td>Two Year</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>AHE015</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>AHE016</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>AHE017</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>AHE018</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>AHE019</td>
                    <td>diploma in x-ray technology</td>
                    <td>two Year</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>AHE020</td>
                    <td>diploma in x-ray technology</td>
                    <td>Two Year</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>AHE021</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>AHE022</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>AHE023</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>AHE024</td>
                    <td>diploma in x-ray technology</td>
                    <td>two Year</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>AHE025</td>
                    <td>diploma in x-ray technology</td>
                    <td>two Year</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>AHE026</td>
                    <td>diploma in x-ray technology</td>
                    <td>Two Year</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>AHE027</td>
                    <td>diploma in x-ray technology</td>
                    <td>One Year</td>
                </tr>
            </tbody>
            
          </table>

          <%- include('partials/footer.ejs'); %>
    