<%- include('partials/header.ejs'); %>
  



        <div class="our-faculty">
            <div class="events faculty">
                <h3>Meet Our Team</h3>
                <p class="short-line"></p>
            </div>
            <div class="team">
                <div class="team-one team-box">
                    <h4>Dr. Govind Saini (BHMS)</h4>
                    <p>Dept. of Physiology</p>
                </div>
                <div class="team-two team-box">
                    <h4>Mr. Sanjay Kumar (DOOT)</h4>
                    <p>Dept. of Operation Theater</p>
                </div>
                <div class="team-three team-box">
                    <h4>Mohan Saini (DOOT)</h4>
                    <p>Dept. of Operation Theater</p>
                </div>
                <div class="team-four team-box">
                    <h4>Dr. Jyoti Saini (Master Degree)</h4>
                    <p>Managment</p>
                </div>
            </div>
        </div>

        

        <%- include('partials/footer.ejs'); %>
