

      <%- include('partials/header.ejs'); %>


        <div class="hero-image">
        </div>

        <div class="main-cta">
            <div class="main-box-one">
                <h2>ADMISSIONS OPEN 2020-21</h2>
                <h4>(Course Offered by Govt. Recognised Centres - Valid for Govt. & Semi Govt. Sector in india / Abroad)</h4>              
            </div>
            <div class="main-box-two">
                <a href="/online-registeration">APPLY NOW</a>
            </div>
        </div>

        <div class="floating-text">
            <p>News Alert!</p>
            <marquee width="60%" direction="left" >
                Admission Open 2020-21, Join Us Today!
            </marquee>
            
        </div>

        <div class="welcome-and-events-box">
            <div class="welcome">
                <h2>Welcome To</h2>
                <h1>Rajasthan Paramedical Institute</h1>
                <p>Rajasthan Paramedical Institute, popularly known as RPI, Delhi is in the field of paramedical Science sector is equipped with all advanced studies courses and is established in Delhi with an objective of providing quality education with affordable fees in the field of Paramedical for those students who have passed 10th, 12th, Graduate and Post Graduate levels.</p>
            </div>

            <div class="events">
                <h3>Events & Notes</h3>
                <p class="short-line"></p>
            </div>
        </div>


        <div class="why-us">
            <div class="why-box-1">
              <img src="./logo.jpg" alt="RPI logo">
            </div>
            <div class="why-box-2">

                <h3>Why Choose RPI?</h3>
                <p class="short-line"></p>
                <p>The Rajasthan Paramedical Institute (RPI) offers a variety of professional paramedical and health courses to create a cadre of trained paramedical and applied health personnel for providing efficient health care at primary, secondary and tertiary levels. RPI provides a unique combination of opportunities, excellence, choices and experience. The Institute will provide quality and market oriented paramedical & health education to young aspirants. The institute will address the issue of scarcity of trained / skilled manpower in various sectors.</p>

            </div>
            
        </div>

        <div class="aff">
            <h2>Affiliation and Accrediation</h2>
            <p class="special-line"></p>
            <div class="aff-box">
                 <div class="aff-box-one">
                    <img src="./pci.png" alt="pci logo">
                    <p class="aff-content">Paramedical Council of India</p>
                 </div>
                 <div class="aff-box-two">
                    <img src="./nfse.png" alt="nfse logo">
                    <p class="aff-content">NFSE</p>
                 </div>
            </div>
          
        </div>

        <div id="contact-and-map" class="contact-and-map-box">

            <div class="contact-form" id="cont-form">
                <h2>Contact Us</h2>
                <p class="short-line"></p>
                <form action="/" method="POST">
                    <label for="username">Name <span class="highlight-red">*</span></label>
                    <input type="text" name="username" placeholder="Your name...">
                    <div class="one-liner">
                        <div>
                           <label for="mail">Email <span class="highlight-red">*</span></label>
                           <input type="email" name="mail" placeholder="Your email...">
                        </div>
                        <div>
                            <label for="number">Phone</label>
                            <input type="tel" name="number" placeholder="Your Phone..">
                        </div>
                    </div>
                    <label for="subject">Subject</label>
                    <input type="text" name="subject" placeholder="Your Subject...">
                    <label for="textbox">Comment or Message <span class="highlight-red">*</span></label>
                    <textarea name="textbox" id="textbox" cols="30" rows="10"></textarea>
                    
                    <button type="submit">Submit</button>
                    
                </form>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596269.0828212146!2d74.73970745803246!3d28.329160762057906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce19466e19ae1%3A0x45ceeb565fd5de6c!2sNational%20Capital%20Region!5e0!3m2!1sen!2sin!4v1607521218356!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

        </div>

    
     <%- include('partials/footer.ejs'); %>
    



   